<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">


</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/">홈</a>
    <!--    href : 링크-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/auth/loginform">로그인</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/auth/joinform">회원가입</a>
            </li>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/board/saveform">글 작성</a>
            </li>
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="user-name" data-toggle="dropdown" sec:authentication="name">
                    사용자 이름
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/user/updateform">설정</a>
                    <a class="dropdown-item" href="#">블로그 이동</a>
                    <a class="dropdown-item" href="#">임시저장글 목록 보기</a>
                    <a class="dropdown-item" href="/logout">로그아웃</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <form>
        <!--        <button class="btn btn-secondary" onclick="history.back()">홈</button>-->
        <a th:href="@{/board/{postId}/updateform(postId=${post.id})}"
           class="btn btn-warning"
           th:if="${#authentication.principal.username == post.user.username}">
            수정
        </a>
        <button id="btn-delete" class="btn btn-danger" th:if="${#authentication.principal.username == post.user.username}">삭제</button>

        <br/><br/>

        <div>
            글 번호 : <span id="id"><i th:text="${post.id}"></i> </span>
            작성자 : <a th:href="@{/user/info/{id}(id=${post.user.id})}" th:text="${post.user.username}"></a>
            <p>조회수: <span th:text="${post.viewCount}">0</span></p>
        </div>
        <br/>
        <div>
            <h3 th:text="${post.title}"></h3>
        </div>
        <hr>
        <div>
            <div th:utext="${post.content}">
            </div>
        </div>
        <hr>
        <div class="card">
            <form>
                <input type="hidden" id="postId" th:value="${post.id}">
                <div class="card-body"><textarea id="comment-content" class="form-control" rows="1"></textarea></div>
                <div class="card-footer"><button type="button" id="btn-comment-save" class="btn btn-primary">등록</button></div>
            </form>
        </div>
        <br>
        <div>
            <h2>댓글</h2>
            <ul id="comment-box" class="list-group">
                <li class="list-group-item" th:each="comment : ${comments}">
                    <div th:text="${comment.content}">댓글 내용</div>
                    <div class="d-flex justify-content-between">
                        <div class="font-italic" th:text="${comment.user.username}">작성자</div>
                        <button class="btn btn-danger btn-sm"
                                th:onclick="'index.commentDelete(' + ${post.id} + ',' + ${comment.id} + ')'"
                                th:if="${#authentication.principal.username == comment.user.username}">삭제</button>
                    </div>
                </li>
            </ul>
            <div>
                    <span th:if="${currentPage > 0}">
                        <a th:href="@{|/board/${post.id}?page=${currentPage - 1}|}">Previous</a>
                    </span>
                <span th:if="${currentPage < totalPages - 1}">
                        <a th:href="@{|/board/${post.id}?page=${currentPage + 1}|}">Next</a>
                    </span>
            </div>
        </div>
    </form>
</div>



<div class="jumbotron text-center" style="margin-bottom:0">
    <p>Created by Yujin</p>
    <p>010-5408-7492</p>
    <p>충청남도 천안시 XX동</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script>
    let index = {
        init: function () {
            $("#btn-delete").on("click", () => {
                this.deleteById();
            });
            $("#btn-comment-save").on("click", () => {
                this.commentSave();
            });

        },

        deleteById: function () {
            let id = $("#id").text(); // 게시물의 id 값을 가져옴

            $.ajax({
                type: "DELETE",
                url: "/api/board/" + id,
                dataType: "json"
            })
                .done(function (response) {
                    alert(response.message); // 서버에서 반환한 메시지를 알림창으로 표시
                    location.href = "/"; // 성공 시 메인 페이지로 이동
                })
                .fail(function (error) {
                    if (error.status === 500) {
                        alert("서버 오류가 발생했습니다."); // 서버 오류 처리
                    } else {
                        alert("오류가 발생했습니다: " + error.responseText); // 기타 오류 처리
                    }
                });
        },

        commentSave: function () {
            let data = {
                content: $("#comment-content").val() // 댓글 내용을 가져옴
            };
            let postId = $("#postId").val(); // 게시물의 id 값을 가져옴
            console.log(data);

            $.ajax({
                type: "POST",
                url: `/api/board/${postId}/comment`,
                data: JSON.stringify(data),
                contentType: "application/json"
            })
                .done(function (response) {
                    alert("댓글 작성을 완료하였습니다."); // 서버에서 반환한 메시지를 알림창으로 표시
                    location.href = `/board/${postId}`; // 성공 시 페이지를 새로고침하여 댓글 목록을 업데이트
                })
                .fail(function (error) {
                    if (error.status === 500) {
                        alert("서버 오류가 발생했습니다."); // 서버 오류 처리
                    } else {
                        alert("오류가 발생했습니다: " + error.responseText); // 기타 오류 처리
                    }
                });
        },
        commentDelete: function (postId, commentId) {
            $.ajax({
                type: "DELETE",
                url: `/api/board/${postId}/comment/${commentId}`,
                dataType: "text"
            })
                .done(function (response) {
                    alert("댓글이 삭제되었습니다.");
                    location.reload(); // 페이지를 새로고침하여 댓글 목록을 업데이트
                })
                .fail(function (error) {
                    if (error.status === 500) {
                        alert("서버 오류가 발생했습니다.");
                    } else {
                        alert("오류가 발생했습니다: " + error.responseText);
                    }
                });
        }
    }

    index.init();


</script>
</body>
</html>
